<div class="content">
    <h3>Model</h3>
    <div class="model-filter">
        <div class="model-filter-dropdown">
            <label for="model-filter-event-type">Event Type</label>
            <select [(ngModel)]="modeledEventType" id="model-filter-event-type" class="model-filter-dropdown"
                (change)="onChangeModelFilterDropdown()" [disabled]="!modelMined">
                <option *ngFor="let option of eventTypes" [value]="option">{{ option }}</option>
            </select>
        </div>
        <div class="model-filter-dropdown">
            <label for="model-filter-object-type">Object Types</label>
            <ng-select class="model-filter-dropdown" [items]="objectTypes?[modeledEventType] : []" 
                [multiple]="true"
                bindLabel="name" [(ngModel)]="filteredObjectTypes" (change)="onChangeModelFilterDropdown()">
            </ng-select>
        </div>
    </div>
</div>