<div class="model-content">
    <h3>Model</h3>
    <div class="model-filter-dropdowns">
        <div class="model-filter-event-type-dropdown">
            <label for="model-filter-event-type">Event Type</label>
            <ng-select [(ngModel)]="modeledEventType" id="model-filter-event-type" [items]="getEventTypes()"
                (change)="onChangeEventType()" [disabled]="!modelMined">
            </ng-select>
        </div>
        <div class="model-filter-object-type-dropdown custom-ng-select">
            <label for="model-filter-object-type">Object Types</label>
            <ng-select style="font-family: roboto" [items]="getEventTypeObjectTypes()" [multiple]="true" 
                [(ngModel)]="filteredObjectTypes" (change)="onChangeObjectTypes()" [disabled]="!modelMined || !modeledEventType">
            </ng-select>
        </div>
    </div>
    <app-model-graph [leftContents]="leftContents"
    [rightContents]="rightContents"></app-model-graph>
</div>